#audioButton {
    padding: 0; /* Remove padding to ensure the image fits perfectly */
    background: none; /* Remove background */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer on hover */
}

body {
    font-family: Georgia, serif;
}